.floating-teacher {
  display: flex;
}

@media (min-width: 768px) {
  /* Styles for larger screens, where fixed positioning is supported */
  .floating-teacher {
    position: fixed;
    top: 50%;
    right: calc(50% - 300px);
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  /* Styles for smaller screens, where fixed positioning might not be supported */
  .floating-teacher {
      position: fixed;
      bottom: 100px; /* Adjust the distance from the bottom as needed */
      right: 10px; 
  }
}

.floating-teacher-symbol {
    background-color: #f8f8f8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    cursor: pointer;
  }
  
  .teacher-icon {
    font-size: 24px;
    color: #555555;
  }
  
  .teacher-text {
    padding: 8px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 25px;
    max-width: 80vw;
    margin-right: 5px;
  }